h1 {
    font-size: 80px;
    font-family: 'San Francisco';
    margin: 0px;
}

h2{
    font-size: 40px;
}

body {
    background-color: #151515;
    color: whitesmoke;
    font-family: 'San Francisco';
    font-size: 18px;

}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app::-webkit-scrollbar {
    display: none;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95%;
}

.logos{
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}

.bio{
    flex: 1;
    padding: 20px;
}