h1 {
    font-size: 80px;
    margin: 0px;
}

h2{
    font-size: 40px;
}

body {
    background-color: #151515;
    color: whitesmoke;
    font-family: 'San Francisco';
    font-size: 18px;

}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}

.Terminal{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #1e1e1e;
    padding: 20px;
}

.Logos{
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}

.Bio{
    flex: 1;
    padding: 20px;
}